.animal-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Menos margem no topo */
  margin-bottom: 0px;
}

.pixel-art-image {
  /* Mantém os pixels 100% nítidos */
  image-rendering: pixelated; 
  max-width: 30%;
  height: auto;
}