.App-header {
  /* Faz o contêiner ocupar toda a altura e largura disponíveis */
  width: 100%;
  height: 100vh; /* 100% da altura da janela do navegador */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

.App-header img {
  width: 100%;
  height: 100%;
  /* O 'cover' faz a imagem preencher todo o espaço cortando os excessos, mas sem distorcer */
  object-fit: contain; 
  /* Garante que o corte seja feito mantendo o centro da imagem visível */
  object-position: center; 
}