/* Classe para a div que envolve a imagem */
.lifebar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Classe para a imagem de pixel art */
.lifebar-image {
  image-rendering: pixelated; 
  
  max-width: 100%;
  height: auto; 
}